In [71]:
import pandas as pd 
var1 =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2 =pd.DataFrame({"A":[1,2,3,5],"C":[10,11,12,13]})
pd.merge(var1,var2,indicator=True,right_index=True,left_index=True,suffixes=("Name","py"))

   AName  B  Apy   C _merge
0      1  9    1  10   both
1      2  8    2  11   both
2      3  7    3  12   both
3      4  6    5  13   both

In [62]:
import pandas as pd 
var1 =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2 =pd.DataFrame({"A":[1,2,3,5],"C":[10,11,12,13]})
pd.merge(var1,var2,how="outer",indicator=True)

   A    B     C      _merge
0  1  9.0  10.0        both
1  2  8.0  11.0        both
2  3  7.0  12.0        both
3  4  6.0   NaN   left_only
4  5  NaN  13.0  right_only

In [60]:
import pandas as pd 
var1 =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2 =pd.DataFrame({"A":[1,2,3,5],"C":[10,11,12,13]})
pd.merge(var1,var2,how="outer")

   A    B     C
0  1  9.0  10.0
1  2  8.0  11.0
2  3  7.0  12.0
3  4  6.0   NaN
4  5  NaN  13.0

In [59]:
import pandas as pd 
var1 =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2 =pd.DataFrame({"A":[1,2,3,5],"C":[10,11,12,13]})
pd.merge(var1,var2,how="right")

   A    B   C
0  1  9.0  10
1  2  8.0  11
2  3  7.0  12
3  5  NaN  13

In [58]:
import pandas as pd 
var1 =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2 =pd.DataFrame({"A":[1,2,3,5],"C":[10,11,12,13]})
pd.merge(var1,var2,how="left")

   A  B     C
0  1  9  10.0
1  2  8  11.0
2  3  7  12.0
3  4  6   NaN

In [56]:
import pandas as pd 
var1 =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2 =pd.DataFrame({"A":[1,2,3,4],"C":[10,11,12,13]})
pd.merge(var1,var2,on="A")

   A  B   C
0  1  9  10
1  2  8  11
2  3  7  12
3  4  6  13

In [53]:
#delete col form any dataframe
import pandas as pd 
var =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
del var["A"]
print(var)

   B
0  9
1  8
2  7
3  6

In [51]:
#pop form any dataframe
import pandas as pd 
var =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var2=var.pop("B")
print(var)
print(var2)

   A
0  1
1  2
2  3
3  4
0    9
1    8
2    7
3    6
Name: B, dtype: int64

In [43]:
#insert any colm at any dedicated index
import pandas as pd 
var =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var.insert(1,"py",var["A"])
var

   A  py  B
0  1   1  9
1  2   2  8
2  3   3  7
3  4   4  6

In [36]:
#slicing in pandas
import pandas as pd 
var =pd.DataFrame({"A":[1,2,3,4],"B":[9,8,7,6]})
var["ML"]=var["A"][:3]
# print(var)
var

   A  B   ML
0  1  9  1.0
1  2  8  2.0
2  3  7  3.0
3  4  6  NaN

In [33]:
# How to merge two dtaframe
import pandas as pd 
var1=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var2=pd.DataFrame({"A":[1,2,3,4],"B":[9,10,11,12]})
pd.merge(var1,var2,on='A')

   A  B_x  B_y
0  1    5    9
1  2    6   10
2  3    7   11
3  4    8   12

In [32]:
# How to merge two dtaframe
import pandas as pd 
var1=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var2=pd.DataFrame({"A":[1,2,3,4],"C":[9,10,11,12]})
pd.merge(var1,var2,on='A')
# print(var)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [31]:
# Condition among the columns
import pandas as pd 
var =pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var["pyt"]=var["A"]<=2
var["jav"]=var["B"]>=6
# print(var)
var

   A  B    pyt    jav
0  1  5   True  False
1  2  6   True   True
2  3  7  False   True
3  4  8  False   True

In [28]:
import pandas as pd 
var =pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var["C"]=var["A"]/var["B"]
# print(var)
var

   A  B         C
0  1  5  0.200000
1  2  6  0.333333
2  3  7  0.428571
3  4  8  0.500000

In [25]:
import pandas as pd 
var =pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var["C"]=var["A"]+var["B"]
# print(var)
var

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [20]:
import pandas as pd 
var =pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
# print(var)
print(var["A"])
print(var["B"])

0    1
1    2
2    3
3    4
Name: A, dtype: int64
0    5
1    6
2    7
3    8
Name: B, dtype: int64

In [16]:
import pandas as pd 
sr = {"s":pd.Series([1,2,3,4]),"r":pd.Series([5,6,7,8])}
var2 = pd.DataFrame(sr)
print(var2)

   s  r
0  1  5
1  2  6
2  3  7
3  4  8

In [15]:
import pandas as pd
list1=[[1,2,3],[4,5,6],[7,8,9]]
var2=pd.DataFrame(list1)
print(var2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
import pandas as pd
s1= pd.Series(12,index= [1,2,3,4])
s2= pd.Series(13,index= [1,2,3])
print(s1+s2)

1    25.0
2    25.0
3    25.0
4     NaN
dtype: float64

In [12]:
import pandas as pd
s1= pd.Series(12,index= [1,2,3,4])
s2= pd.Series(13,index= [1,2,3,4])
print(s1+s2)

1    25
2    25
3    25
4    25
dtype: int64

In [1]:
import pandas as pd
s1=pd.Series(12,index=[1,2,3,4])
print(s1)

1    12
2    12
3    12
4    12
dtype: int64